[Unit]
Description=Growlab
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitInterval=0
Environment="SENSOR_TYPE=none"
WorkingDirectory=/home/pi/growlab/app
ExecStart=/home/pi/growlab/app/app.py

[Install]
WantedBy=multi-user.target
